:local(.tile){
    width: 100%;
    height: 100%;
    transition: width .5s, height .5s;
}
:local(.tile:hover){
    width: 120%;
    height: 120%;
    z-index: 1;
}
:local(.black){
    background-color: black;
}
:local(.white){
    background-color: white;
}